{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "keepClassNames": true,
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs",
    "strictMode": true
  }
}